
footer .ab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  height: fit-content;
}
footer .ab a {
  transition: var(--main-duration);
  color: var(--main-color);
  text-transform: capitalize;
}
footer .ab a:hover {
  color: var(--secondary-color);
}