
//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* start media */
/* small  */

@media (max-width:768px) {
    .contener {
        margin: auto;
        padding: 0 30px;
    }
}

@media (min-width:768px) {
    .contener {
        width: 750px;
        margin: auto;
        padding: 0 30px;
    }
}

/* mediam */

@media (min-width:992px) {
    .contener {
        width: 970px;
        margin: auto;
        padding: 0 20px;
    }
}

/* larg  */

@media (min-width:1200px) {
    .contener {
        width: 1170px;
        margin: auto;
        padding: 0 20px
    }
}
/* end media */

